.row{
    display: flex;
}
  
.column{
    flex: 50%;
}

.currency-card{
    border: 2px solid chartreuse;
    width: 220px;
    text-align: center;
}

.owned-currency{
    border: 2px solid blue;
    width: 220px;
    text-align: center;
}

.funds{
    border: 5px green;
    text-align: center;
}

.currency-search{
    border: 5px green;
    text-align: center;
}

#dollar-header{
    text-align: center;
}

#input-text{
    width:300px;
}